---
layout: compress
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include sidebar.html %}

    <main id="main">
      {{ content }}

      <div class="footer">
        <div class="container">
          <p>博客首页</p>
          <a href="https://jxffly.github.io/"><img src="{{ "/assets/img/qr.png" | prepend: site.baseurl }}" style="width:200px;height:200px"/>
          </a>
          <p class="footer-entry">所有的转载请加上作者的信息，一点一滴来自不易</p>
          <p class="footer-entry">有更多的信息请联系主页上面的联系方式 <a href="/" target="_blank">主页</a></p>
        </div>
      </div>
    </main>

    <button id="menu">
      <span id="menu-icons"></span>
    </button>

    {% include scripts.html %}
  </body>
</html>
